* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

input[type=text]{        
 
    font-size: 33px;
    width:33%;
    height: auto;
}



.round_center{
    position: absolute;
    text-align: center;
    width: 200px;
    border-radius: 25px;
    padding: 25px;
    margin: 20px;
    background-color: darkgrey;
}


body {
    background-image: linear-gradient(to bottom, #dbd8e3, #2a2438);
    padding: 10px;
    margin: 0;
}

/*button option */
button {
    text-align: center;
    width: 55px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 3px double black;
    border-radius: 8px;
}
button:hover{
    background-color:#808080;
    cursor: pointer;
}


/*headin and font customisation */
h1 {
    font-size: 50px;
    
    padding: 10px;
    text-align: center;
    color: black;
}
h2 {
    font-size: 45px;
    font-weight: bold;
    
    padding: 10px;
    text-align: center;
    color: black;
}
h3 {
    font-size: 40px;
    text-align: left;
    
    padding: 10px;
    color: black;
}

h4 {
    font-size: 35px;
    color: black;
}

p {
    font-size: 28px;
}


/*Side box (box on left with options)*/
.sidebox {
    font-size: 17px;
    width: 20%;
    position: fixed;
    z-index: 2;
    height: 95%;
    overflow: auto;
    background-color: #5c5470
}

.sidebox a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebox a.active {
    background-color: #332d40;
    color: white;
}
.sidebox a:hover:not(.active) {
    background-color: #332d40;
    color: white;
}


/*Main box customisation (on the right)*/

.mainbox{
    float:right;
    width: 80%;
    padding-left:20px;

}

.box_Password {
    text-size-adjust: initial;
    background-color: lightgrey;
    width: 25%;
    border: 7px black;
    padding: 9px;
    margin: 9px;
    text-align: center;
}

.box_setup {
    background-color: #c2b5e6;
    padding: 20px;
    margin-top: 20px;
}

.row::after
{
    content:"";
    display:table;
    clear:both;

}
.column{
    float:left;
    width:25%;
    padding:5px;
}

/*Option menu*/

.custom-select {
    min-width: 350px;
    position: center;
    align-self: center;
}

select {
    appearance: none;

    width: 66%;
    font-size: 28px;
    text-align: center;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
}



/*Additional content*/

hr.dashed {
    border-top: 3px dashed #5c5f63;
}

.paragraph_left {
    float: left;
    width: 50%;
    padding: 5px;
}
.paragraph_right {
    float: right;
    width: 50%;
    padding: 5px;
}