* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

input[type=text]{        
 
    font-size: 25px;
}



.round_center{
    position: absolute;
    text-align: center;
    width: 200px;
    border-radius: 25px;
    padding: 25px;
    margin: 20px;
    background-color: darkgrey;
}


body {
    background-color:gainsboro;
    padding:10px;
}
button {
    text-align: center;
    width: 55px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 3px double black;
    border-radius: 8px;
}
button:hover{
    background-color:#808080;
}


h1 {
    font-size: 40px;
    
    padding: 10px;
    text-align: center;
    color: black;
}
h2 {
    font-size: 33px;
    font-weight: bold;
    
    padding: 10px;
    text-align: center;
    color: black;
}
h3 {
    font-size: 22px;
    text-align: left;
    
    padding: 10px;
    color: black;
}

h4 {
    font-size: 14px;
    color: black;
}

p {
    font-size: 16px;
}

.sidebox {

    width: 20%;
    position: fixed;
    z-index: 2;
    height: 100%
    overflow: auto;
    background-color: #a8a8a8
    
}

.sidebox a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebox a.active {
    background-color: #04AA6D;
    color: white;
}
.sidebox a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.mainbox{
    float:right;
    width: 80%;
    padding-left:20px;
}

.box_setup{
    background-color:ghostwhite;
    padding: 20px;
    margin-top:20px;

}

.row::after
{
    content:"";
    display:table;
    clear:both;

}
.column{
    float:left;
    width:25%;
    padding:5px;
}


/*This is all for the nav bar movement
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



ends gere*/



/*

@media screen and (max-width: 800px) {
    .sidebox {
        float: left;
        width: 100%;
    }

    .mainbox {
        float: left;
        width: 100%;
        padding-left: 20px;
    }

    .column { 
        float: left;
        width: 33%;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .sidebox {
        float: left;
        width: 100%;
    }

    .mainbox {
        float: left;
        width: 100%;
        padding-left: 20px;
    }

    .column { 
        float: left;
        width: 50%;
        padding: 5px;
    }
}
*/